section.breadcrumbs-section
    .wrapper
        ul.breadcrumbs
            li.breadcrumbs__item
                each name in ['Каталог', 'Готовые миксы']
                    a.breadcrumbs__link(href="/")= name