//- var title = 'PADOVAN OVOMIX GOLD ROSSO'
//- var img = ./images/image.png
//- var description = 'Корм для птиц'
//- var price = '1000$'
section.main-container
    .wrapper
        .card-product.flex
            .card-product-list
                img(src='./images/image.png', alt="")
                h3.card-product-title PADOVAN OVOMIX GOLD ROSSO
                p.card-product-description.margin-t-b Корм для птиц
                p.card-product-price.margin-t-b 1000$
                .card-product-weight.flex.margin-t-b
                    - var i = 1;
                    each name in ['200 г', '400 г', '800 г', '1 кг']
                        if i == 1
                            button(type="button").card-product-button.active-button=name      
                        else
                            button(type="button").card-product-button=name
                .card-product-buy.flex
                    a.more-details(href="") Подробнее
                    button(type="button").buy-button
            .card-product-list
                img(src='./images/image.png', alt="")
                h3.card-product-title PADOVAN OVOMIX GOLD ROSSO
                p.card-product-description.margin-t-b Корм для птиц
                p.card-product-price.margin-t-b 1000$
                .card-product-weight.flex.margin-t-b
                    - var i = 1;
                    each name in ['200 г', '400 г', '800 г', '1 кг']
                        if i == 1
                            button(type="button").card-product-button.active-button=name      
                        else
                            button(type="button").card-product-button=name
                .card-product-buy.flex
                    a.more-details(href="") Подробнее
                    button(type="button").buy-button  
            .card-product-list
                img(src='./images/image.png', alt="")
                h3.card-product-title PADOVAN OVOMIX GOLD ROSSO
                p.card-product-description.margin-t-b Корм для птиц
                p.card-product-price.margin-t-b 1000$
                .card-product-weight.flex.margin-t-b
                    - var i = 1;
                    each name in ['200 г', '400 г', '800 г', '1 кг']
                        if i == 1
                            button(type="button").card-product-button.active-button=name      
                        else
                            button(type="button").card-product-button=name
                .card-product-buy.flex
                    a.more-details(href="") Подробнее
                    button(type="button").buy-button  
            .card-product-list
                img(src='./images/image.png', alt="")
                h3.card-product-title PADOVAN OVOMIX GOLD ROSSO
                p.card-product-description.margin-t-b Корм для птиц
                p.card-product-price.margin-t-b 1000$
                .card-product-weight.flex.margin-t-b
                    - var i = 1;
                    each name in ['200 г', '400 г', '800 г', '1 кг']
                        if i == 1
                            button(type="button").card-product-button.active-button=name      
                        else
                            button(type="button").card-product-button=name
                .card-product-buy.flex
                    a.more-details(href="") Подробнее
                    button(type="button").buy-button  
            .card-product-list
                img(src='./images/image.png', alt="")
                h3.card-product-title PADOVAN OVOMIX GOLD ROSSO
                p.card-product-description.margin-t-b Корм для птиц
                p.card-product-price.margin-t-b 1000$
                .card-product-weight.flex.margin-t-b
                    - var i = 1;
                    each name in ['200 г', '400 г', '800 г', '1 кг']
                        if i == 1
                            button(type="button").card-product-button.active-button=name      
                        else
                            button(type="button").card-product-button=name
                .card-product-buy.flex
                    a.more-details(href="") Подробнее
                    button(type="button").buy-button
            .card-product-list
                img(src='./images/image.png', alt="")
                h3.card-product-title PADOVAN OVOMIX GOLD ROSSO
                p.card-product-description.margin-t-b Корм для птиц
                p.card-product-price.margin-t-b 1000$
                .card-product-weight.flex.margin-t-b
                    - var i = 1;
                    each name in ['200 г', '400 г', '800 г', '1 кг']
                        if i == 1
                            button(type="button").card-product-button.active-button=name      
                        else
                            button(type="button").card-product-button=name
                .card-product-buy.flex
                    a.more-details(href="") Подробнее
                    button(type="button").buy-button  
            .card-product-list
                img(src='./images/image.png', alt="")
                h3.card-product-title PADOVAN OVOMIX GOLD ROSSO
                p.card-product-description.margin-t-b Корм для птиц
                p.card-product-price.margin-t-b 1000$
                .card-product-weight.flex.margin-t-b
                    - var i = 1;
                    each name in ['200 г', '400 г', '800 г', '1 кг']
                        if i == 1
                            button(type="button").card-product-button.active-button=name      
                        else
                            button(type="button").card-product-button=name
                .card-product-buy.flex
                    a.more-details(href="") Подробнее
                    button(type="button").buy-button  
            .card-product-list
                img(src='./images/image.png', alt="")
                h3.card-product-title PADOVAN OVOMIX GOLD ROSSO
                p.card-product-description.margin-t-b Корм для птиц
                p.card-product-price.margin-t-b 1000$
                .card-product-weight.flex.margin-t-b
                    - var i = 1;
                    each name in ['200 г', '400 г', '800 г', '1 кг']
                        if i == 1
                            button(type="button").card-product-button.active-button=name      
                        else
                            button(type="button").card-product-button=name
                .card-product-buy.flex
                    a.more-details(href="") Подробнее
                    button(type="button").buy-button    