footer.footer
    .wrapper
        .footer-wrapper.flex
            nav.footer-mav.footer-width
                each name in ['Оплата', 'Доставка']
                    a.footer-link(href="#")= name
            .flex.social-networks.footer-width
                a.social-vk.w-h(href='/')
                a.social-insta.w-h(href='/')
            .footer-phone.footer-width
                a.footer-number(href='tel:89209994350') 8 920 999 43 00