html(lang="en")
  head
    meta(charset="utf-8")
    link(rel='stylesheet' href='style.css')
    title= "Breakable-Ecology"
  body
  include header.pug
  main
    include breadcrumbs.pug
    include back.pug
    include content.pug
    include pagination.pug
  include footer.pug