* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gilroy';
}

main {
    background-color: #F9F9F9;
    padding-top: 75px;
    padding-bottom: 100px;
}

.wrapper {
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}